.profile {
    background-color: #ffee00;
    width: 300px;
}

.description {
    text-align: center;
    padding: 20px;
}

.avatar {
    margin: 0 auto;
    height: 150px;
    weight: 150px;
    border-radius: 50%;
    background-color: #0088ff;
}

.name {
    margin-top: 16px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 700;
}

.tag {
    margin-top: 8px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
}

.location {
    margin-top: 8px;
    font-size: 16px;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.stats > li {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid #ffee00;
    background-color: #0088ff;
}

.label {
    font-weight: 500;
    color: #ffffff;
}

.quantity {
    margin-top: 4px;
    color: #ffffff;
}